In [1]:
x=10,20
print(type(x))

<class 'tuple'>

In [2]:
x=(10,20,"abc")
print(type(x))

<class 'tuple'>

In [3]:
x=(10,20,"abc",10,10,40,90)
print(x.count(10))
print(x.index(40))

3
5

In [9]:
mydictionary={101:"anu","age":33,"email":"annapurnamylavarapu0814@gmail.com"}
print(mydictionary)

{101: 'anu', 'age': 33, 'email': 'annapurnamylavarapu0814@gmail.com'}

In [14]:
mydictionary={101:"anu","age":33,"email":"annapurnamylavarapu0814@gmail.com"}
print(mydictionary["email"])
mydictionary["email"]="anusuren0814@gmail.com"
print(mydictionary)
mydictionary["add"]="jaipur"
print(mydictionary)

annapurnamylavarapu0814@gmail.com
{101: 'anu', 'age': 33, 'email': 'anusuren0814@gmail.com'}
{101: 'anu', 'age': 33, 'email': 'anusuren0814@gmail.com', 'add': 'jaipur'}

In [16]:
x=mydictionary.pop(101)
print(mydictionary,x)

{'age': 33, 'email': 'anusuren0814@gmail.com', 'add': 'jaipur'} anu

In [17]:
mydictionary={10:"a",20:"b"}
for i in mydictionary:
  print(i,mydictionary[i])

10 a
20 b

In [18]:
mydictionary={10:"a",20:"b"}
for i in mydictionary.keys():
  print(i,mydictionary[i])

10 a
20 b

In [29]:
mydictionary={10:"a",20:"b"}
for i in mydictionary.values():
  print(i)

a
b

In [31]:
mydictionary={10:"a","amount":100}
mydictionary["amount"]=mydictionary["amount"]+5
print(mydictionary)

{10: 'a', 'amount': 105}

In [33]:
s="Raj"
mydictionary={"total":0}
for i in s:
  mydictionary["total"]=mydictionary["total"]+1
print(mydictionary)

{'total': 3}

In [23]:
s = "abc"
mydictionary = {}
for i in s:
    if i in mydictionary:
        mydictionary[i]+=1
    else:
        mydictionary[i]=1
print(mydictionary)

{'a': 1, 'b': 1, 'c': 1}