In [ ]:
numbers=[10,20,4,45,99]
max=numbers[0]

for index in range(0,len(numbers)):
  print("Before condition->",numbers[index],max)

  if (numbers[index]>max):
    max=numbers[index]
    print("After condition->",numbers[index],max)

print("Maximum element:",max)

Before condition-> 10 10
Before condition-> 20 10
After condition-> 20 20
Before condition-> 4 20
Before condition-> 45 20
After condition-> 45 45
Before condition-> 99 45
After condition-> 99 99
Maximum element: 99

In [ ]:
numbers=[10,20,30,40]
sum=0

for index in range(0,len(numbers)):
  sum+=numbers[index]
print("Sum:",sum)

Sum: 100

In [ ]:
numbers = [1, 2, 3, 4, 5]
reversed_list = []

for index in range(len(numbers) - 1, -1, -1):
    reversed_list.append(numbers[index])

print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
numbers=[2,8,3,1,10,5]

for index1 in range(0,len(numbers)):
  for index2 in range(0,len(numbers)-index1-1):
    if (numbers[index2]>numbers[index2+1]):
      temp=numbers[index2]
      numbers[index2]=numbers[index2+1]
      numbers[index2+1]=temp
print("Ascending order:",numbers)

Ascending order: [1, 2, 3, 5, 8, 10]

In [ ]:
numbers=[1,2,2,3,4,4,5]
new_list=[]

for index1 in range(0,len(numbers)):
  value=numbers[index1]
  count=0
  for index2 in range(0,len(new_list)):
    if new_list[index2]==value:
      count+=1
  if count==0:
    new_list.append(value)
print("list after removing duplicates:",new_list)

list after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
numbers=[1,2,3,4,3,5,6]
numbers=[1,2,3,4,3,5,6]
target_sum=6

pairs=[]

for index1 in range(0,len(numbers)):
  for index2 in range(index1+1,len(numbers)):
    if numbers[index1]+numbers[index2]==target_sum:
      pairs.append([numbers[index1],numbers[index2]])

print("pairs that add upto 6:",pairs)

pairs that add upto 6: [[1, 5], [2, 4], [3, 3]]

In [1]:
nested_list=[1,[2,3],[4,[5,6],7],8]
flattened_list=[]

for i in range(0,len(nested_list)):
  item=nested_list[i]

  if type(item)==list:
    for j in range(0,len(item)):
      inner_item=item[j]

      if type(inner_item)==list:
        for k in range(0,len(inner_item)):
          flattened_list.append(inner_item[k])
      else:
        flattened_list.append(inner_item)
  else:
    flattened_list.append(item)

print("Flattened list:",flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
numbers = [1, 2, 3, 4, 5]

max = numbers[0]
min = numbers[0]
total = 0

for i in range(len(numbers)):
    num = numbers[i]
    total += num

    if num > max:
        max = num

    if num < min:
        min = num

sum = total - max - min

print("Sum excluding the largest and smallest element:", sum)

Sum excluding the largest and smallest element: 9