In [ ]:
rows=4

for i in range(rows,0,-1):
  for j in range(i):
    print('*',end=' ')
  print( )

* * * *
* * *
* *
*

In [ ]:
num=10
rows=3

for i in range(1,rows+1):
  for j in range(i):
    print(num,end='  ')
    num+=1
  print( )

10
11  12
13  14  15

In [ ]:
num=10
rows=4

for i in range(rows):
  for j in range(i+1):
    print(num+j,end=' ')
  print( )

10
10 11
10 11 12
10 11 12 13

In [ ]:
rows=4
for i in range(rows):
  for j in range(i+1):
    print(chr(65+j),end=' ')
  print( )

A
A B
A B C
A B C D

In [ ]:
rows=4
for i in range(rows):
  for j in range(i+1):
    print(chr(68-j),end=' ')
  print( )

D
D C
D C B
D C B A

In [ ]:
rows=4

for i in range(rows):
  for j in range(rows-i):
    print(chr(68-j),end=' ')
  print( )

D C B A
D C B
D C
D

In [ ]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        if j % 2 == 1:
            print(1, end=' ')
        else:
            print(2, end=' ')
    print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [ ]:
rows=4
ascii_code=70

for i in range(1,rows+1):
  for j in range(i):
    print(chr(ascii_code),end=' ')
    ascii_code+=2
  print( )

F
H J
L N P
R T V X

In [ ]:
rows=4

for i in range(rows):
  for j in range(i):
    print(' ',end=' ')
  for k in range(rows-i):
      print('*',end=' ')
  print( )

* * * *
  * * *
    * *
      *

In [ ]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
count = 1
for i in range(1, 5):
    for j in range(i):
        print(count, end=' ')
        count += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
count = 10
for i in range(1, 5):
    for j in range(i):
        print(count, end=' ')
        count -= 1
    print()

10
9 8
7 6 5
4 3 2 1

In [ ]:
ch = 65
for i in range(1, 4):
    for j in range(i):
        print(chr(ch), end=' ')
        ch += 1
    print()

A
B C
D E F

In [ ]:
ch = 90
for i in range(1, 4):
    for j in range(i):
        print(chr(ch), end=' ')
        ch -= 2
    print()

Z
X V
T R P

In [ ]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        if j == 0 or j == i or i == rows - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [ ]:
num = 1
ch = ord('a')
for i in range(1, 5):
    for j in range(i):
        print(f"{num}{chr(ch)}", end=' ')
        num += 1
        ch+= 1
    print()

1a
2b 3c
4d 5e 6f
7g 8h 9i 10j