In [2]:
for i in range(1,5):
  for j in range(1,5):
    print('*',end=' ')
  print( )

* * * *
* * * *
* * * *
* * * *

In [5]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=' ')
  print( )

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [6]:
for i in range(1,5):
  for j in range(1,i+1):
    print('*',end=' ')
  print( )

*
* *
* * *
* * * *

In [7]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print('*',end=' ')
  print( )

* * * *
* * *
* *
*

In [9]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end=' ')
  print( )

1 2 3 4
1 2 3
1 2
1

In [14]:
num=66

for i in range(1,4):
  for j in range(66,69-i+1):
    print(j,end=' ')
  print( )

66 67 68
66 67
66

In [16]:
num=1
for i in range(1,5):
  for j in range(1,5-i+1):
    print(num,end=' ')
    num+=1
  print( )

1 2 3 4
5 6 7
8 9
10

In [25]:
for i in range(1,5):
  ch=65
  for j in range(1,i+1):
    print(chr(ch),end=' ')
    ch+=1
  print( )

A
A B
A B C
A B C D

In [26]:
for i in range(1,5):
  for j in range(1,i+1):
    print('?',end=' ')
  print( )

?
? ?
? ? ?
? ? ? ?

In [31]:
for i in range(1,5):
  for k in range(1,5-i):
    print(k,end=' ')
  print( )

1 2 3
1 2
1

In [32]:
for i in range(1,5):
  for j in range(1,i+1):
    print('?',end=' ')
  for k in range(1,5-i):
    print(k,end=' ')
  print( )

? 1 2 3
? ? 1 2
? ? ? 1
? ? ? ?

In [36]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end=' ')
  print( )

1 2 3 4
1 2 3
1 2
1

In [62]:
for i in range(1,5):
  for k in range(1,i-1+1):
    print('*',end=' ')
  print( )

*
* *
* * *

In [59]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end=' ')
  for k in range(1,i-1+1):
    print('*',end=' ')
  print( )

1 2 3 4
1 2 3 *
1 2 * *
1 * * *