In [ ]:
n=int(input("Enter integer:"))
if n%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter integer:56
Even Number

In [ ]:
n=int(input("Enter integer:"))

if n>0:
  print("Positive Number")
elif n<0:
  print("Negative Number")
else:
  print("Zero")

Enter integer:-45
Negative Number

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))

if num1>=num2 and num1>=num3:
  largest=num1
elif num2>num1 and num2>num3:
  largest=num2
else:
  largest=num3

print("largest Number:",largest)

Enter first number:45
Enter second number:25
Enter third number:36
largest Number: 45

In [ ]:
n=int(input("Enter number:"))

if (n%4==0 and n%100!=0) or n%400==0:
  print("leap year")
else:
  print("not a leap year")

Enter number:1995
not a leap year

In [ ]:
n=int(input("Enter number:"))

if(n%3==0 and n%5==0):
  print("Divisible")
else:
  print("Not Divisible")

Enter number:15
Divisible

In [ ]:
char=input("Enter single Character:")

char=char.lower()

if char=="a" or char=="e" or char=="i" or char=="o" or char=="u":
  print("Vowel")
else:
  print("consonant")

Enter single Character:j
consonant

In [ ]:
marks=int(input("Enter Marks:"))

if marks>=90:
  print("Grade A")
elif marks>=80:
  print("Grade B")
elif marks>=70:
  print("Grade C")
elif marks>=60:
  print("Grade D")
else:
  print("Fail")

Enter Marks:72
Grade C

In [ ]:
age=int(input("Enter Age:"))

if age>=18:
  print("Eligible")
else:
  print("Not eligible")

Enter Age:25
Eligible

In [ ]:
i=1

while i<=10:
  print(i,end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
num=2

while num<=20:
  print(num,end=" ")
  num+=2

2 4 6 8 10 12 14 16 18 20

In [ ]:
num=1
while num <= 20:
   if num%2==0:
     print(num,end=" ")
   num+=3

4 10 16

In [ ]:
n=int(input("Enter Number:"))

i=1
sum=0

while i<=n:
  sum+=i
  i+=1

print("sum of n natural numbers:",sum)

Enter Number:5
sum of n natural numbers: 15

In [ ]:
n=int(input("Enter number:"))

i=1

while i<10:
  print(f"{n}x {i}= {n*i}")
  i+=1

Enter number:2
2x 1= 2
2x 2= 4
2x 3= 6
2x 4= 8
2x 5= 10
2x 6= 12
2x 7= 14
2x 8= 16
2x 9= 18

In [ ]:
num=int(input("Enter number:"))

reversed_num=0

while num>0:
  digit=num%10
  reversed_num=reversed_num*10+digit
  num//=10
print("reverse num:",reversed_num)

Enter number:1234
reverse num: 4321

In [ ]:
num=int(input("Enter number:"))
count=0

if num==0:
  count=1
while num>0:
  num//=10
  count+=1

print("Number of digits:",count)

Enter number:45678
Number of digits: 5

In [ ]:
n = int(input("Enter a number: "))

factorial = 1
i = 1

while i <= n:
    factorial *= i
    i += 1

print(f"Factorial of {n} is {factorial}")

Enter a number: 5
Factorial of 5 is 120

In [ ]:
i=1
num=0

while num<=50:
  if (i%2==0 and i%3==0 and i%6==0):
    print(i,end=" ")
    i+=1
    num+=1
  else:
    i+=1

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 300 306

In [ ]:
num=2
count=0

while(count<=3):
  a=0
  for i in range(2,num):
    if(num%i==0):
      a=1
      break
  if(a==1):
    print("'not a prime",num)
  else:
    print("prime",num)
  count+=1

prime 2
prime 2
prime 2
prime 2