In [21]:
count = 0
for i in range(9, 0, -2):
    for k in range(count):
        print(" ", end=" ")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()
    count += 1

count = 3
for i in range(3, 10, 2):
    for k in range(count):
        print(" ", end=" ")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()
    count -= 1

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [23]:
count = 0
for i in range(9, 0, -2):
    for k in range(count):
        print(" ", end=" ")
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()
    count += 1

count = 3
for i in range(3, 10, 2):
    for k in range(count):
        print(" ", end=" ")
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()
    count -= 1

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [28]:
for i in range(1,6):
    for j in range(1,6):
        if i == 1 or i == 5 or j == 1 or j == 5:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [29]:
for i in range(1, 6):
    for j in range(1, 6):
        if i == 1 or i == 5 or j == 1 or j == 5:
            print(j, end=" ")
        else:
            print(" ", end=" ")
    print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [30]:
for i in range(1, 6):
    for j in range(1, 6):
        if i == 1 or i == 5 or j == 1 or j == 5:
            print(chr(64 + j), end=" ")
        else:
            print(" ", end=" ")
    print()

A B C D E
A       E
A       E
A       E
A B C D E

In [39]:
for i in range(1,6):
    for k in range(6 - i):
        print(" ", end="")
    for j in range(2* i - 1):
        if j == 0 or j == 2 * i - 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

for i in range(4, 0, -1):
    for k in range(6 - i):
        print(" ", end="")
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [44]:
for i in range(1,6):
    for k in range(6 - i):
        print(" ", end="")

    for j in range(2 * i - 1):
        if j == 0:
            print("A", end="")
        elif j == 2 * i - 2:
            print(chr(65 + 2 * (i - 1)), end="")
        else:
            print(" ", end="")
    print()

for i in range(4, 0, -1):
    for k in range(6 - i):
        print(" ", end="")

    for j in range(2 * i - 1):
        if j == 0:
            print("A", end="")
        elif j == 2 * i - 2:
            print(chr(65 + 2 * (i - 1)), end="")
        else:
            print(" ", end="")
    print()

     A
    A C
   A   E
  A     G
 A       I
  A     G
   A   E
    A C
     A

In [77]:
for i in range(1,6):
    for space in range(6 - i):
        print("  ", end="")

    num = 1
    for j in range(i):
        print(num, end="   ")
        num = num * (i - j - 1) // (j + 1)
    print()

          1
        1   1
      1   2   1
    1   3   3   1
  1   4   6   4   1

In [90]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    for j in range(2 * (6 - i)):
        print(" ", end="")
    for j in range(i):
        print("*", end="")
    print( )

for i in range(4, 0, -1):
    for j in range(i):
        print("*", end="")
    for j in range(2 * (6 - i)):
        print(" ", end="")
    for j in range(i):
        print("*", end="")
    print()

*          *
**        **
***      ***
****    ****
*****  *****
****    ****
***      ***
**        **
*          *

In [103]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  for j in range(2*(5-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

for i in range(0,5):
  for j in range(i+1):
    print("*",end=" ")
  for j in range(2*(3-i+1)):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *