<a href="https://colab.research.google.com/github/Annapurna0814/TOC-if-else/blob/main/TOC_Problems_on_if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter nummber:"))
if n%2==0:
    print("Even no")
else:
    print("Odd no")

enter nummber:5
Odd no

In [ ]:
num1=float(input("enter 1st no:"))
num2=float(input("enter 2nd no:"))
num3=float(input("enter 3rd no:"))
if(num1>=num2)and(num1>=num3):
  largest=num1
elif(num2>=num1)and(num2>=num3):
  largest=num2
else:
  largest=num3
print("Largest no:",largest)

enter 1st no:25
enter 2nd no:36
enter 3rd no:14
Largest no: 36.0

In [ ]:
year=int(input("Enter year:"))

if(year%4==0 and year%100!=0) or (year%400==0):
  print("Leap Year")
else:
  print("Not a Leap year")

Enter year:2024
Leap Year

In [ ]:
percentage=int(input("Enter percentage:"))
if(percentage>=90):
  print("Grade A")
elif(percentage>=80):
  print("Grade B")
elif(percentage>=70):
  print("Grade c")
elif(percentage>=60):
  print("Grade D")
else:
  print("Grade f")

Enter percentage:65
Grade D

In [ ]:
letter = input("Enter a single letter: ")

letter = letter.lower()

if len(letter) == 1 and letter.isalpha():
    if letter in ('a', 'e', 'i', 'o', 'u'):
        print("vowel.")
    else:
        print("consonant.")

Enter a single letter: u
vowel.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

if operator == '+':
    result = num1 + num2
    print(f"{num1}+{num2}={result}")
elif operator == '-':
    result = num1 - num2
    print(f"{num1}-{num2}={result}")
elif operator == '*':
    result = num1 * num2
    print(f"{num1}*{num2}={result}")
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
        print(f"{num1/num2}")
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid operator. Please enter one of +, -, *, /.")

Enter the first number: 45
Enter the second number: 5
Enter an operator (+, -, *, /): /
9.0

In [ ]:
num = int(input("Enter number: "))

if (num > 0):
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter number: 89
The number is positive.

In [ ]:
username="admin"
password="1234"

input_username=input("Enter username:")
input_password=input("Enter password:")

if (input_username ==username and input_password ==password):
  print("Login Successful")
else:
  print("Login failed")

Enter username:suren
Enter password:1456
Login failed

In [ ]:
def is_valid_triangle(a, b, c):
    return a + b > c and a + c > b and b + c > a
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

if is_valid_triangle(a, b, c):
    print("valid triangle.")
else:
    print("invalid triangle.")

Enter the length of side a: 2
Enter the length of side b: 6
Enter the length of side c: 5
valid triangle.

In [ ]:
weight = float(input("Enter weight in kilograms: "))
height = float(input("Enter height in meters: "))

bmi = weight / (height ** 2)

print(f"Your BMI is: {bmi:.2f}")

if bmi < 18.5:
    print("underweight.")
elif 18.5 <= bmi < 24.9:
    print("normal weight.")
elif 25 <= bmi < 29.9:
    print("overweight.")
else:
    print("obese.")

Enter weight in kilograms: 70
Enter height in meters: 1.75
Your BMI is: 22.86
normal weight.

In [ ]:
price = float(input("Enter the price of the product: ₹"))

if price > 1000:
    discount_percentage = 10
elif 500 <= price <= 1000:
    discount_percentage = 5
else:
    discount_percentage = 0

discount_amount = (discount_percentage / 100) * price

final_price = price - discount_amount

print(f"Original Price: ₹{price:.2f}")
print(f"Discount Applied: {discount_percentage}%")
print(f"Discount Amount: ₹{discount_amount:.2f}")
print(f"Final Price after Discount: ₹{final_price:.2f}")

Enter the price of the product: ₹1450
Original Price: ₹1450.00
Discount Applied: 10%
Discount Amount: ₹145.00
Final Price after Discount: ₹1305.00

In [ ]:
def is_leap_year(year):

    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

month_days = {
    'january': 31,
    'february': 28,
    'march': 31,
    'april': 30,
    'may': 31,
    'june': 30,
    'july': 31,
    'august': 31,
    'september': 30,
    'october': 31,
    'november': 30,
    'december': 31
}


month_input = input("Enter the name of the month (e.g., January): ").strip().lower()
year_input = input("Enter the year (e.g., 2024): ").strip()


if not year_input.isdigit():
    print("Invalid year entered. Please enter a valid year.")
else:
    year = int(year_input)
    if month_input in month_days:
        if month_input == 'february' and is_leap_year(year):
            days = 29
        else:
            days = month_days[month_input]

        month_display = month_input.capitalize()
        print(f"{month_display} {year} has {days} days.")
    else:
        print("Invalid month name entered. Please enter a valid month.")

Enter the name of the month (e.g., January): march
Enter the year (e.g., 2024): 2019
March 2019 has 31 days.

In [ ]:
balance = 1000

print("Welcome to the ATM")
print("1. Check Balance")
print("2. Deposit Money")
print("3. Withdraw Money")

choice = input("Enter your choice (1-3): ")

if choice == '1':
    print(f"Your current balance is: ₹{balance}")
elif choice == '2':
    amount = float(input("Enter amount to deposit: ₹"))
    if amount > 0:
        balance += amount
        print(f"₹{amount} deposited successfully.")
        print(f"New balance: ₹{balance}")
    else:
        print("Invalid deposit amount.")
elif choice == '3':
    amount = float(input("Enter amount to withdraw: ₹"))
    if amount > 0:
        if amount <= balance:
            balance -= amount
            print(f"₹{amount} withdrawn successfully.")
            print(f"Remaining balance: ₹{balance}")
        else:
            print("Insufficient funds.")
    else:
        print("Invalid withdrawal amount.")
else:
    print("Invalid choice. Please select a valid option.")

Welcome to the ATM
1. Check Balance
2. Deposit Money
3. Withdraw Money
Enter your choice (1-3): 3
Enter amount to withdraw: ₹500
₹500.0 withdrawn successfully.
Remaining balance: ₹500.0

In [ ]:
age = int(input("Enter your age: "))

if age >= 0 and age <= 1:
    print("Infant")
elif age >= 2 and age <= 4:
    print("Toddler")
elif age >= 5 and age <= 12:
    print("Child")
elif age >= 13 and age <= 19:
    print("Teenager")
elif age >= 20 and age <= 59:
    print("Adult")
elif age >= 60:
    print("Senior")
else:
    print("Invalid age entered.")

Enter your age: 45
Adult

In [ ]:

day_number = int(input("Enter a number between 1 and 7: "))

if day_number == 1:
    print("Monday")
elif day_number == 2:
    print("Tuesday")
elif day_number == 3:
    print("Wednesday")
elif day_number == 4:
    print("Thursday")
elif day_number == 5:
    print("Friday")
elif day_number == 6:
    print("Saturday")
elif day_number == 7:
    print("Sunday")
else:
    print("Invalid input. Please enter a number between 1 and 7.")

Enter a number between 1 and 7: 5
Friday