In [4]:
for i in range(1,5):
    for j in range(1,i-1+1):
        print(" ", end=" ")
    for k in range(1,5):
        print("*", end=" ")
    print()

* * * *
  * * * *
    * * * *
      * * * *

In [12]:
for i in range(1, 5):
    for j in range(1, 7):
        if i == 1 or i == 4 or j == 1 or j == 6:
            print("*", end="")
        else:
            print(" ", end="")
    print()

******
*    *
*    *
******

In [25]:
for i in range (1,6):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print( )

A
A B
A B C
A B C D
A B C D E

In [29]:
for i in range (1,6):
  for j in range(1,i+1):
    print(chr(64+i),end=" ")
  print( )

A
B B
C C C
D D D D
E E E E E

In [32]:
for i in range(5, 0, -1):
    for j in range(i, 6):
        print(chr(64 + j), end=" ")
    print()

E
D E
C D E
B C D E
A B C D E

In [38]:
for i in range(1, 6):
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(i):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [39]:
for i in range(1, 6):
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, i + 1):
        print(k, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [49]:
for i in range(5, 0, -1):
    for j in range(5 - i):
        print("  ", end="")
    x = 65
    for k in range(i):
        print(chr(x), end=" ")
        x += 1
    print()

A B C D E
  A B C D
    A B C
      A B
        A

In [58]:
for i in range(5, 0, -1):
    for j in range(5 - i+1):
        print("  ", end="")
    for k in range(1,i+1):
        print(k, end=" ")
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [70]:
for i in range(1,6):
    for j in range(6-i):
      print('', end=' ')
    for k in range(1,6):
      print("*",end=" ")
    print()

     * * * * *
    * * * * *
   * * * * *
  * * * * *
 * * * * *

In [71]:
for i in range(1,6):
    for j in range(6-i):
      print('', end=' ')
    for k in range(1,6):
      print(k,end=" ")
    print()

     1 2 3 4 5
    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5

In [76]:
for i in range(1,6):
    for j in range(6-i):
      print('', end=' ')
      x=65
    for k in range(1,6):
      print(chr(x),end=" ")
      x+=1
    print()

     A B C D E
    A B C D E
   A B C D E
  A B C D E
 A B C D E

In [81]:
for i in range(1,5):
  for j in range(4-i):
    print(" ",end="")
  for k in range(2*i-1):
    print("*",end="")
  print( )

   *
  ***
 *****
*******

In [88]:
for i in range(1,5):
  for j in range(1,8):
      if i==4 or i+j==5 or j-i==3:
        print("*",end="")
      else:
        print(" ",end="")
  print()

   *
  * *
 *   *
*******

In [95]:
for i in range(1,5):
  for j in range(i):
    print(" ",end="")
  for k in range(2*(5-i)-1):
    print("*",end="")
  print( )

 *******
  *****
   ***
    *

In [97]:
for i in range(1, 5):
    for j in range(i):
        print("*", end="")
    print()

for i in range(3, 0, -1):
    for k in range(i):
        print("*", end="")
    print()

*
**
***
****
***
**
*

In [99]:
for i in range(1, 5):
    for j in range(4 - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

for i in range(3, 0, -1):
    for j in range(4 - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

   *
  **
 ***
****
 ***
  **
   *

In [100]:
for i in range(1, 5):
    for j in range(4 - i):
        print(" ", end="")
    for k in range(1,2*i):
        print("*", end="")
    print()

for i in range(3, 0, -1):
    for j in range(4 - i):
        print(" ", end="")
    for k in range(1,2*i):
        print("*", end="")
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [102]:
for i in range(1, 6):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [103]:
for i in range(5, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [104]:
for i in range(1,6):
    for j in range(1, i + 1):
        if j == 1 or j == i or i == 5:
            print(j, end=" ")
        else:
            print("  ", end="")
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [108]:
for i in range(1,6):
   for j in range(6-i):
      print(" ", end=" ")

   num=i
   for j in range(i):
      print(num, end=" ")
      num+=1

   num-=2
   for j in range(i-1):
      print(num, end=" ")
      num-=1

   print()

          1
        2 3 2
      3 4 5 4 3
    4 5 6 7 6 5 4
  5 6 7 8 9 8 7 6 5

In [109]:
for i in range(1,6):
    for j in range(6- i):
        print(" ", end="")

    for j in range(1, i + 1):
        if j == 1 or j == i or i == 5:
            print(j, end=" ")
        else:
            print("  ", end="")
    print()

     1
    1 2
   1   3
  1     4
 1 2 3 4 5

In [121]:
for i in range(1, 6):
    for j in range(i, 6):
        if i==1 or j == i or j==5:
            print(j, end=" ")
        else:
            print(" ", end=" ")
    print()

1 2 3 4 5
2     5
3   5
4 5
5

In [123]:
for i in range(1, 6):
    for j in range(5 - i):
        print(" ", end="")
    for k in range(1,2*i):
        print("*", end="")
    print()

for i in range(4, 0, -1):
    for j in range(5 - i):
        print(" ", end="")
    for k in range(1,2*i):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [141]:
for i in range(1,6):
    for j in range(5 - i):
        print("  ", end="")
    for k in range(1, 2 * i):
        print(k, end=" ")

    print( )

for i in range(4, 0, -1):
    for j in range(5-i):
        print(" ", end=" ")
    for k in range(1,2*i):
        print(k, end=" ")

    print( )

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1